<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('./adminHomeHeader.ejs')%>
    <h2>User List</h2>
    <span style="color:green"><%=message%></span>
    <table border="1" cellspacing="0" cellpadding="10">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Username</th>
                <th>Email</th>
                <th>Address</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <%userList.forEach((obj,index)=>{%>
                <tr>
                    <td><%=index+1%></td>
                    <td><%=obj.username%></td>
                    <td><%=obj.email%></td>
                    <td><%=obj.address%></td>
                    <td>
                        <%if(obj.blockstatus==0){%>
                            <a style="text-decoration: none;" href="/admin/adminBlockUser?email=<%=obj.email%>">
                                Block
                            </a>
                        <%}else{%>
                            <span style="color:red">Blocked</span>
                        <%}%>
                    </td>
                    <td>
                        <%if(obj.adminverify==0){%>
                            <a style="text-decoration: none;" href="/admin/adminVerifyUser?email=<%=obj.email%>">
                                Verify
                            </a>
                        <%}else{%>
                            <span style="color:red">Verified</span>
                        <%}%>
                    </td>
                </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>